/*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

*/
/******************************main style************************************************/
html{
	font-size: 16px;
}

body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4;
	box-sizing: border-box;
}

 h2{
	font-size: 2.6rem;
	font-weight: 600;
	color: #02192d;
	font-style: italic;
}

h3{
	font-size: 1.8rem;
	font-weight: bold;
	color: #0871cc;
}

i.fa.fa-bookmark,
i.fa.fa-certificate
{
	font-size: 1.2rem;
	/*font-weight: 800;*/
	color: #4e081b;
}
span.h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.2rem;
	color: #02192d;
}

span.quote{
	font-size: 2rem;
	font-weight: 800;
	color: #0871cc;
}
h4{
	font-size: 1.2rem;
	font-weight: 600;
	color: #02192d;
}

p{
	font-size: 0.9rem;
	color: #4a4a4a;	
}

.flex{
	display: flex;
	flex-wrap: wrap;
}


.padding{
	padding: 2rem 0;
}
.info{
	font-size: 0.7rem;
	color: #4a4a4a;
}
/*************************************************style navigation header***************************************************/
header.flex{
	align-items: center;
	padding: 0.5rem 1.5rem;
}

nav{
	display: flex;
	align-items: center;
}

.menu-gauche{
	align-items: center;
	flex-grow: 1;
}

.menu-gauche img{
	height: 3rem;
}

.menu-gauche p{
	font-weight: 700;
	color: #4a4a4a;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.menu-gauche span{
	font-weight: 400;
	color: #4e081b;
}

.desktop{
	display: flex;
	flex-wrap: wrap;
}

nav li{
	display: inline-block;
}


nav li a{
	color: #4a4a4a;
	padding: 1.35rem 0.5rem 1.35rem 0.5rem;
	transition: background-color 0.700s linear;
}

nav li .active,
nav li .link-desktop:hover{
	background-color: #0871cc;
	color: #ffffff;
}

.mobile{
	display: none;
}
/***************************************************navigation mobile****************************************************/
@media only screen and (max-width: 780px){

	header.flex{
		padding: 0;
	}

	nav {
		width: 100%;
	}
    
    .mobile{
    	display: flex;
        width: 100%;
        justify-content: space-around;
    }

	.mobile li{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mobile a{
		display:block;
		padding: 0.945rem 0 0.945rem 0;
	}


	.desktop,
	.menu-gauche{
		display: none;
	}
}
/*******************************************************fin de navigation mobile**********************************************/

/*******************************************************style banner**********************************************/
.main-banner{
	background-color:#f6f9f9;
	font-family: 'Open Sans', sans-serif;
}


.column-left{
	display: flex;
	flex-direction: column;
	width: 57%;
	padding: 0 1.5%;
}

.column-left img{
	max-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-left .content{
	margin-top: 2rem;
}

.column-right{
	display: flex;
	flex-direction: column;
	width: 39.9%;
	}

.column-right .content{
	width: 95%;
}

.column-right.center{
	justify-content: center;
}

button{
	background-color: rgba(78,8,27,0.8);
	padding: 1rem 0;
	width: 95%;	
	cursor: pointer;
	border: none;
	transition: background-color 0.700s linear;
}
button a{
	font-size: 1.2rem;
	text-align: center;
	display: inline-block;
	color: #ffffff;
}

button:hover{
	background-color: rgba(78,8,27,1);
}
/***************************************************fin de la bannière principale**********************************************************************/

/***************************************************style section actualités***********************************************************/

.main-info{
	background-color: #f3f5f5;
	font-family: 'Montserrat', sans-serif;

}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
}


.box .image{
	width:35%;
	padding: 1rem;
}

.box img{
	max-width: 100%;
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.box img:hover{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.image .mobile{
	display: none;
}

.box .content{
	width: 65%;
	padding-left: 1rem;
}


.detail{
	padding: 0.5rem 0;
}

.box .content a{
	color: #0871cc;
}

.box.active{
	background-color: #e8e5e5;
}
.box:hover{
	background-color: #d8d8d8;
}

/*************************************************banner et actus pour mobile************************************************/

@media only screen and (max-width : 780px){


	.main-info .column-left{
		display: none;
	}

	.column-left{
		width: 100%;
	}

	.column-right{
		width: 100%;
		padding: 0;
	}

	.main-banner .column-right{
		padding-left: 1.5rem;
		padding-bottom: 2rem;
	}

	.main-banner .column-right h2{
		font-size: 2rem;
	}

	.box{
		width: 100%;
		flex-wrap: wrap;
		border: none;
	}

	.box .content{
		width: 100%;
		padding: 2rem 2rem;
	}

	.box .image{
		width: 100%;
	}


	.image .mobile{
		display: block;
		width: 100%;
	}

	.image .desktop{
		display: none;
	}
}

/***********************************************************section learning********************************************************/
.main-learning{
	background-color: #eaebec;
}

.title{
	text-align: center;
	padding-bottom: 1rem;
}

.courses{
	display: flex;
	padding: 0 3.5rem 2rem 3.5rem;
	flex-wrap: wrap;
}

.courses-mobile{
	display: none;
}

.courses .box{
	flex-direction: column;
	width: 30%;
	justify-content: flex-start;
	color: #4a4a4a;
	background-color: #ffffff;
	margin-left: 2rem;
	margin-top: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.visuel img{
	max-width: 100%;
}

.contenu{
	padding: 1rem 2rem 2rem 1rem;
}

/*************************************************************************style thesis***************************************************************/

.thesis{
	padding-top: 1rem;
}


/*******************************************************************style footer*******************************************************************/
footer.flex{
	justify-content: space-around;
	/*align-items: flex-start;*/
}

footer{
	background-color: #f3f5f5;
	padding: 1rem 0.5rem 3rem 1rem;
}

footer p{
	flex-grow: 3;
}

.liens.flex{
	justify-content: space-around;
	flex-grow: 0.2;
}

footer a{
	/*padding-right: 0.5rem;*/
}

footer a:hover{
	color: #0871cc;
}


@media only screen and (max-width : 780px){


	.courses{
		display: none;
	}

	.courses-mobile{
		display: block;
		padding-bottom: 2rem;
	}

	.box-mobile{
		width: 95%;
		background-color: #d8d8d8;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 1rem;
	}

	.box-mobile:first-child{
		margin-top: 1rem;
	}

	.box-mobile h4{
		color: #4a4a4a;
		font-size: 1.5rem;
		font-weight: bold;
		padding-top: 1rem;
		padding-bottom: 2rem;

	}

	.column-right.display,
	.thesis-content,
	.content.thesis{
		display: none;
	}

	.liens.flex{
		display: none;
	}
}


